@import-normalize;
/* bring in normalize.css styles */

:root {
  --accent-color: #1698d9;
  --second-color: #d91667;
  --grey-color: #666666;
}

@font-face {
  font-family: 'Exo2.0';
  src: url('./fonts/Exo2.0-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}